# Border Crossing Data Analysis

 Data was pulled from https://www.kaggle.com/divyansh22/us-border-crossing-data


# ![title](Data_Description_Kaggle.png)

## Exploratory Data Analysis

In [1]:
import pandas as pd

**First we'll import the data using pandas read_csv function. Upon import we'll set the parse_dates parameter to the 'Date' column so it converts the dates to data type of datetime. Then we'll disply the first 5 rows of the dataframe using the head function.**

In [14]:
df = pd.read_csv('Border_Crossing_Entry_Data.csv', parse_dates=['Date'])
df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value
0,Alcan,AK,3104,US-Canada Border,2020-02-01,Personal Vehicle Passengers,1414
1,Alcan,AK,3104,US-Canada Border,2020-02-01,Personal Vehicles,763
2,Alcan,AK,3104,US-Canada Border,2020-02-01,Truck Containers Empty,412
3,Alcan,AK,3104,US-Canada Border,2020-02-01,Truck Containers Full,122
4,Alcan,AK,3104,US-Canada Border,2020-02-01,Trucks,545

**The data looks like it read in correctly with column names correctly assigned. The last 2 column names, 'Measure' and 'Value' are not very descriptive so let's change those to names that are more immediately informative.**

In [21]:
df.rename(columns = {'Measure': 'Mode of Transportation', 'Value': 'Number of Crossings'}, inplace=True)
df.head()

,Port Name,State,Port Code,Border,Date,Mode of Transportation,Number of Crossings
0,Alcan,AK,3104,US-Canada Border,2020-02-01,Personal Vehicle Passengers,1414
1,Alcan,AK,3104,US-Canada Border,2020-02-01,Personal Vehicles,763
2,Alcan,AK,3104,US-Canada Border,2020-02-01,Truck Containers Empty,412
3,Alcan,AK,3104,US-Canada Border,2020-02-01,Truck Containers Full,122
4,Alcan,AK,3104,US-Canada Border,2020-02-01,Trucks,545

**Now let's dive a little deeper into the data. First, we'll use the info function.**

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355511 entries, 0 to 355510
Data columns (total 7 columns):
Port Name                 355511 non-null object
State                     355511 non-null object
Port Code                 355511 non-null int64
Border                    355511 non-null object
Date                      355511 non-null datetime64[ns]
Mode of Transportation    355511 non-null object
Number of Crossings       355511 non-null int64
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 19.0+ MB

**Here we can see that this is a very clean dataset. All rows have the same amount of non-null values. We can also see that our 'Date' is the correct datatype after parsing it upon reading it in.**

In [19]:
df.describe(include='all')

,Port Name,State,Port Code,Border,Date,Measure,Value
count,355511,355511,355511.000000,355511,355511,355511,3.555110e+05
unique,116,15,NaN,2,290,12,NaN
top,Eastport,ND,NaN,US-Canada Border,2010-07-01 00:00:00,Personal Vehicles,NaN
freq,5753,58290,NaN,272838,1356,31425,NaN
first,NaN,NaN,NaN,NaN,1996-01-01 00:00:00,NaN,NaN
last,NaN,NaN,NaN,NaN,2020-02-01 00:00:00,NaN,NaN
mean,NaN,NaN,2454.009921,NaN,NaN,NaN,2.844758e+04
std,NaN,NaN,1201.900231,NaN,NaN,NaN,1.518807e+05
min,NaN,NaN,101.000000,NaN,NaN,NaN,0.000000e+00
25%,NaN,NaN,2304.000000,NaN,NaN,NaN,0.000000e+00
50%,NaN,NaN,3013.000000,NaN,NaN,NaN,1.000000e+02
75%,NaN,NaN,3402.000000,NaN,NaN,NaN,2.597500e+03
max,NaN,NaN,4105.000000,NaN,NaN,NaN,4.447374e+06